---
import Layout from "../layouts/Layout.astro";
import pigs from "../data/pig.json";
---

<Layout title="Dominic Cummings Finder ~ Covid">
  <main>
    <h2>Covid</h2>
    <div>
      <a style="font-size: 0.9rem;" href="/">&lt;-- Back to main page</a>
    </div>
    <p>
      <em>Dom's writings and evidence on Covid</em>
    </p>
    <ul>
      {
        pigs.map((pig) => (
          <li>
            <p>{pig.name}</p>
            <p>
              <a href="">{pig.email}</a>
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
<style>
  .home-links {
    display: flex;
    flex-direction: column;
  }

  .home-links > a {
    padding: 4px 2px;
  }

  @media screen and (min-width: 640px) {
    .top-links {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
