---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dominic Cummings Finder ~ Home">
  <div class="content">
    <h2>Dom Reader</h2>
    <h4>A collection of Dominic Cummings's writings and videos</h4>
    <p>
      This site gathers Dom's ideas in one place that's easy to navigate. Pieces
      about Dom written by others are excluded. All links listed here are to
      content spoken or written by Dom himself.

      <p>
        The site is written in pure HTML and CSS it takes inspiration from
        Patrick Collinson and Terraform Industries's websites. If you spot an
        error or would like to submit an update, please open a pull request.
      </p>
    </p>
  </div>
</Layout>
<style></style>
