---
import Layout from "../layouts/Layout.astro";

const pods = [
  {
    link: "https://andrewsullivan.substack.com/p/dominic-cummings-on-boris-brexit#details",
    title: "Dishcast: Andrew Sullivan",
    date: "Nov 2011",
  },
  {
    link: "https://www.youtube.com/watch?v=p54JT4kJHSk",
    title: "Manifold Podcast: Steve HSU",
    date: "Jan 2023",
  },
  {
    link: "https://www.youtube.com/watch?v=3i7ym_Qh7BA",
    title: "Dwarkesh Podcast: Dwarkesh Patel",
    date: "Dec 2023",
  },
  {
    link: "https://www.youtube.com/watch?v=4N59ZAyLKwE",
    title: "Moment of Zen: Erik Torenberg + Antonio Martinez",
    date: "Dec 2023",
  },
];
---

<Layout title="Dominic Cummings Reader ~ Podcasts">
  <div class="content">
    <h2>Podcast appearances</h2>
    <p>
      <em> These only include podcasts where Dom is a guest.</em>
    </p>
    {
      pods.map((pod) => (
        <p>
          <a href={pod.link} style="text-decoration: none;">
            {pod.title}
          </a>{" "}
          ~ ({pod.date})
        </p>
      ))
    }
  </div>
</Layout>
<style></style>
