---
import Layout from "../layouts/Layout.astro";
import { series } from "../data/series";
---

<Layout title="Dominic Cummings Reader ~ Series">
  <div class="content">
    <h2>Series</h2>
    <ul>
      {
        series.map((item) => (
          <li>
            <a href={`/series/${item.slug}`}>{item.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  .content {
    overflow: hidden;
  }

  ul {
    margin: 0;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.75rem;
  }
</style>
