---
import Layout from "../layouts/Layout.astro";

const vids = [
  {
    link: "https://www.youtube.com/watch?v=GNaWPV5l4j4",
    title: "The Hollow Men",
    context: "IPPR",
    date: "January 2014",
  },
  {
    link: "https://parliamentlive.tv/Event/Index/fe18cb0b-fae5-4778-b00f-b05fde360ed6",
    title: "Treasury committee session on Brexit",
    context: "during EU referendum",
    date: "April 2016",
  },
  {
    link: "https://www.youtube.com/watch?v=CDbRxH9Kiy4&pp=ygUQZG9taW5pYyBjdW1taW5ncw%3D%3D",
    title: "Why Vote Leave won the referendum",
    context: "Nudgestock",
    date: "June 2017",
  },
  {
    link: "https://parliamentlive.tv/Event/Index/d919fbc9-72ca-42de-9b44-c0bf53a7360b",
    title: "Covid testimony",
    context: "Joint session of science + health select commitees",
    date: "May 2021",
  },
  {
    link: "https://www.youtube.com/watch?v=Oos_mGp7qr8",
    title: "Bismarck and Political Power",
    context: "Orwell Foundation",
    date: "June 2022",
  },
  {
    link: "https://www.youtube.com/watch?v=ddHN2qmvCG0",
    title: "Kuennsberg Interview",
    context: "BBC",
    date: "June 2022",
  },
  {
    link: "https://www.youtube.com/watch?v=DLX37aNgUzk",
    title: "Official Covid Inquiry testimony",
    context: "Skip to 1:59:00",
    date: "October 2023",
  },
];
---

<Layout title="Dominic Cummings Finder ~ Videos">
  <div class="content">
    <h2>Videos</h2>
    {
      vids.map((vid) => (
        <p>
          <a style="text-decoration: none;" href={vid.link}>
            {vid.title}
          </a>{" "}
          ~ {vid.context} ({vid.date})
        </p>
      ))
    }
  </div>
</Layout>
<style>
  @media screen and (min-width: 640px) {
    .top-links {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
