---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dominic Cummings Finder ~ Videos">
  <main>
    <h2>Videos</h2>
    <div>
      <a style="font-size: 0.9rem;" href="/">&lt;-- Back to main page</a>
    </div>
    <p>
      <em>As far as possible these are full clips. Unedited</em>
    </p>
    <p>
      <a href="https://www.youtube.com/watch?v=GNaWPV5l4j4&t=13s">
        The Hollow Men</a
      > ~ IPPR (January 2014)
    </p>
    <p>
      <a
        href="https://parliamentlive.tv/Event/Index/fe18cb0b-fae5-4778-b00f-b05fde360ed6"
      >
        Treasury committee session on Brexit</a
      >
      ~ during Leave campaign (20 April 2016)
    </p>
    <p>
      <a
        href="https://parliamentlive.tv/Event/Index/d919fbc9-72ca-42de-9b44-c0bf53a7360b"
        >Covid testimony (select committees)</a
      >
      ~ joint inquiry (26 May 2021)
    </p>
    <p>
      <a href="https://www.youtube.com/watch?v=Oos_mGp7qr8"
        >Bismarck & Political Power</a
      > ~ Orwell foundation (June 2022)
    </p>
    <p>
      <a href="https://www.youtube.com/watch?v=DLX37aNgUzk"
        >Official Covid Inquiry testimony</a
      > ~ skip to 1:59:00 (October 2023)
    </p>
  </main>
</Layout>
<style>
  .home-links {
    display: flex;
    flex-direction: column;
  }

  .home-links > a {
    padding: 4px 2px;
  }

  @media screen and (min-width: 640px) {
    .top-links {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
