---
import Layout from "../layouts/Layout.astro";
import articles from "../data/wp_articles2.json";
import WpCard from "../components/WpCard.astro";
---

<Layout title="Dominic Cummings Reader ~ Original WordPress Blog">
  <div class="content">
    <h2>Original blog</h2>
    <h4>
      A list of articles from the original WordPress blog. Active from April
      2014 to June 2021. Link <a href="dominiccummings.com">here</a>
    </h4>
    <hr />
    <div>
      {
        articles.map((article) => (
          <WpCard
            title={article.title}
            url={article.url}
            date={article.date}
            tags={article.tags}
          />
        ))
      }
    </div>
  </div>
</Layout>
<style>
  .content {
    overflow: hidden;
  }
</style>
