<nav aria-label="Primary">
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/wp-blog">OG blog articles</a></li>
    <li><a href="/substack-blog">Substack articles</a></li>
    <li><a href="/series">Series</a></li>
    <li><a href="https://bismarck-chrono.pages.dev/">Bismarck chronology</a></li>
    <li><a href="/podcasts">Podcasts</a></li>
    <li><a href="/videos">Videos</a></li>
    <li><a href="https://twitter.com/Dominic2306">Dom's Twitter</a></li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
  }

  /* Media queries */
  @media screen and (min-width: 768px) {
    nav {
      margin-right: 24px;
      position: sticky;
      top: 24px;
    }

    ul {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
</style>
