---
import Nav from "../components/Nav.astro";
const { title } = Astro.props;
import domPx from "../assets/domPx2.png?url";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A loosely organised collection of Dominic Cummings's writings, podcasts and videos."
    />
    <link rel="icon" type="image/svg+xml" href="/" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta content="website" property="og:type" />
    <meta content={title} property="og:title" />
    <meta property="og:image" content={domPx} />
    <title>{title}</title>
    <script
      defer
      data-domain="dominiccummingsreader.netlify.app"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <main>
      <Nav />
      <slot />
    </main>
  </body>
</html>

<style is:global>
  /* Base styles */
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    margin: 0;
    padding: 1rem;
  }

  /* Media queries */
  @media screen and (min-width: 768px) {
    body {
      padding: 1rem;
    }

    main {
      display: grid;
      grid-template: min-content 1fr min-content / 12.25rem minmax(0, 1fr);
    }
  }

  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    html {
      background-color: #111111;
      color: #fff;
    }

    a {
      color: lightskyblue;
    }

    a:hover {
      color: lightseagreen;
    }
  }
</style>
