---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("longform");

const long = [];
---

<Layout title="Dominic Cummings Reader ~ Long Essays">
  <div class="content">
    <h2>Long form writing</h2>
    <p>
      <em>Longer PDF essays that appeared on both blogs</em>
    </p>
    {
      allPosts.map((post) => (
        <p>
          <a href={"/longform/" + post.slug} style="text-decoration: none;">
            {post.data.title}
          </a>
          ~ (
          {post.data.pubDate.toLocaleDateString("en-uk", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })}
          )
        </p>
      ))
    }
    <p>
      <a href="" style="text-decoration: none;"> Essay 1 </a>{" "}
      ~ (12th Jan 2024)
    </p>
  </div>
</Layout>
<style></style>
